<h1>The Longest Word</h1>
<h2>Your games</h2>
<ul>
  <% @games.each_with_index do |game, index| %>
    <li>
      <%= link_to "game #{index + 1}", game_path(game.id) %> ### <%= game.parties_count %> / 5
    </li>
  <% end %>
</ul>
<h2>Create a new game</h2>
<%= simple_form_for [@game] do |f| %>
  <%= f.button :submit, class: 'btn btn-danger' %>
<% end %>
